@import url(https://fonts.googleapis.com/css?family=open+Sans:400,700);
/**variable**/

* {
    box-sizing: border-box;
}
body{
    font-family: "Open Sans";
    font-size: 16px;
    background-color: #ffffff;
}

/** title **/
.title{
    text-align: center;
    transform: translateY(20px);
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
}
/**card**/
.card{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) translateZ(0);
    width: 900px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: box-shadow 0,5s;
}
/** thumb **/

.card__thumb{
    height: 245px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.5s;
}
.card__thumb img{
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 250px;
    display: block;
    opacity: 1;
    transform: scale(0.5s);
    transition: opacity 0.5s, transform 0.5s;
}
.card:hover .card__thumb{
    height: 130px;
}
.card:hover .card__thumb img{
    opacity: 0.6;
    transform: scale(4.0);
}
/**body*/
.card__body{
    position: static;
    height: 185px;
    padding: 20px;
    transition:  height 1s;
}
.card:hover .card__body{
    height: 300px;
}
.card a {
    color:inherit;
    text-decoration: none;
}
.card:hover{
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}
/**date*/
.card__date{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 50px;
    height: 45px;
    padding-top: 10px;
    background-color: #ff0000;
    border-radius: 70%;
    color: #fff;
    text-align: center;
    font-weight: 700;
    line-height: 13px;
}
.card__date__day{
    font-size: 14px;
}
.card__date__month{
    text-transform: uppercase;
    font-size: 10px;
}
.card:hover .card__description{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
}
.card__footer{
    position: absolute;
    bottom: 12px;
    left: 20px;
    right: 20px;
    font-size: 11px;
    color: #a3a9a2;
}
.icon{
    display: inline-block;
    vertical-align: middle;
    margin: -2px 0 0 2px;
    font-size: 18px;
}
.icon + .icon {
    padding-left: 10px;
}
.card__category{
    position: absolute;
    top: -25px;
    left: 0;
    height: 25px;
    padding: 0 15px;
    background-color: #86003c;
    color: #fff;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 25px;
}
.card__title{
    margin: 0;
    padding: 0 0 10px 0;
    color: #000;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
}
.card__subtitle{
    margin: 0;
    padding: 0 0 10px 0;
    font-size: 19px;
    color: #86003c;
}
.card__description{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 56px;
    margin: 0;
    padding: 0;
    color: #666c74;
    line-height: 27px;
    opacity: 0;
    transform: translateY(45px);
    transition: opacity 0.3s, transform 0.3s;
    transition-delay: 0s;
}